@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: proxima-nova, system-ui, sans-serif;
    @apply scroll-smooth;
  }
  body {
    overflow: overlay;
    @apply bg-palette-2;
  }
  body::-webkit-scrollbar {
    width: 10px;
  }
  body::-webkit-scrollbar-track {
    background-color: transparent;
  }
  body::-webkit-scrollbar-thumb {
    background-color: theme("colors.slate.900");
    @apply rounded-md;
  }
}
@layer components {
  .fade-in {
    @apply translate-y-8 opacity-0;
  }
  .fade-in-done {
    @apply translate-y-0 opacity-100;
  }
  .transition-fade {
    transition-property: opacity top;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.3s;
    transition-delay: 0.5s;
  }
}